html {
	height: 100%;
	overflow: hidden;
}

body { 
	margin:0;
	padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.parallax {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	transform-style: inherit;
}

.parallax, .parallax:before {
  background: 50% 50% / cover;  
}

#home {
	padding: 0;
	text-align: center;
	background-image: url('../img/bg.jpg');
	background-attachment: fixed;
}

@media (min-height: 538px) {
	#home {
		padding: 20vh 0;
	}
}

@media (min-height: 768px) {
	#home {
		padding: 25vh 0;
	}
}

@media (min-height: 1080px) {
	#home {
		padding: 30vh 0;
	}
}

#home .jumbo {
	padding: 32px;
	background: rgba(255, 255, 255, 0.55);
	border-radius: 15px;
}

#home .jumbo h1 {
	font-size: 48px;
	font-weight: bold;
}

#home a {
	text-decoration: none;
}

#home #social {
	padding-top: 20px;
	padding-bottom: 20px;	
}

#cv {
	margin-top: 20px;
}

#cv h2 {
	font-size: 24px;
}

#cv h3 {
	font-size: 20px;
}

#cv h4 {
	font-size: 18px;
}

#cv header address {
	margin-top: 20px;
}

#cv .address-offset {
	margin-left: 18px;
}